<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <script src="http://cdn.bootcss.com/vue/2.2.6/vue.min.js"></script>
</head>
<body>
<div class="msgboard">
  <!--导航-->
  <div class="navbar navbar-default">
    <div class="container-fluid">
      <h1 class="text-center text-primary">留言板</h1>
    </div>
  </div>
  <!--输入框-->
  <div class="container">
      <textarea
        v-model="newMsg"
        @keyup.enter="addMsgHandle"
        class="form-control"
        placeholder="请输入留言 按 enter 键即可提交"
        rows="10" autofocus>
      </textarea>
        <button @click="addMsgHandle" class="btn btn-primary btn-lg pull-right">提交</button>
  </div>
  <br><br>
  <!--显示框-->
  <div class="container">
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="panel-title">
          留言列表
        </div>
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <li
            v-for="item in msg"
            class="list-group-item">
            {{item.title}}
            <button
              @click="removeMsgHandle(item)"
              type="button" class="close"><span>&times;</span></button>
          </li>
        </ul>
        <button @click="removeAllMsgHandle" v-show="msg.length>0" class="btn btn-danger btn-block">清空留言</button>
        <strong v-show="msg.length==0" class="text-default">╮(╯▽╰)╭</strong>
      </div>
    </div>
  </div>
</div>
<script>
  var STORAGE_KEY = 'churjan';
  var msgStorage = {
    fetch: function() {
      var msg = JSON.parse(localStorage.getItem(STORAGE_KEY) || '[]');
      return msg;
    },
    save: function(msg) {
      localStorage.setItem(STORAGE_KEY, JSON.stringify(msg));
    }
  };
  new Vue({
    el: '.msgboard',
    data:{
      msg:msgStorage.fetch(),
      newMsg:''

    },
    watch:{
      msg:{
        handler:function(msg){
          msgStorage.save(msg)
        },
        deep:true
      }
    },
    methods:{
      addMsgHandle:function () {
        var value=this.newMsg && this.newMsg.trim();
        if(!value) return;

        this.msg.unshift({
          title:value
        });
        this.newMsg='';
      },
      removeMsgHandle:function(currentItem){
        var index=this.msg.indexOf(currentItem);
        this.msg.splice(index,1);
      },
      removeAllMsgHandle:function(){
        return this.msg=[];
      }
    }
  });
</script>
</body>
</html>